/** @format */

.body-page {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}
.main {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  transform-style: preserve-3d;
  color: #f0f321;
  perspective: 450px;
}
.container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  animation-name: text-animation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

@keyframes text-animation {
  0% {
    transform: translateY(0) translateZ(0) rotateX(30deg);
  }
  100% {
    transform: translateY(-100%) translateZ(-550px) rotateX(20deg);
  }
}

.main__title {
  font-size: 80px;
  text-align: center;
}
.main__subtitle {
  font-size: 70px;
  text-align: center;
}
.main__text {
  font-size: 60px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
